.logo-preliminar {
    max-width: 120px;
    display: block;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}

.lead {
    text-align: center;
}

section {
    background-color: rgba(46, 125, 50, 0.08);
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .lead {
        font-size: 16px;
    }

    h1 {
        font-size: 24px;
    }
}